/* 
TRABAJO PRÁCTICO FINAL CODO A CODO - FULLSTACK PHP
DICIEMBRE 2020
por REGINA NOEMÍ MOLARES 
eMail: programming.regina@gmail.com 
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap');

body {
    font-family: 'Roboto Condensed', sans-serif;
}

.subt {
    font-weight: bolder;
}

.mukta {
    font-family: 'Mukta', sans-serif;
    font-size: small;

}

#tabla-gatos-m {
    margin: 0 auto;
}

#info-vol {
    background-color: lightgreen;
}

#tabla-vol,
#agregar-vol {
    background-color: lightsalmon;
}

#agregar-vol {
    display: none;
}

#info-vol,
#agregar-vol,
#tabla-vol {
    border-radius: 10px;
}


.welcome {
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 21px 1px rgba(165, 205, 212, 1);
    -moz-box-shadow: 10px 10px 21px 1px rgba(165, 205, 212, 1);
    box-shadow: 10px 10px 21px 1px rgba(165, 205, 212, 1);
}

