/* 
TRABAJO PRÁCTICO FINAL CODO A CODO - FULLSTACK PHP
DICIEMBRE 2020
por REGINA NOEMÍ MOLARES 
eMail: programming.regina@gmail.com 
*/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster&display=swap');

.big-one {
    width: 100vw; 
}

.body-container {
    background-image: url("../img/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 100vw;
}

.msg1>#part1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;
    color: black;
    text-shadow: 2px 2px #ffffff;
}

.msg1 {
    align-self: bottom;
}

.msg1>#part2 {
    font-family: 'Lobster', cursive;
    font-size: 3rem;
    color: red;
    text-shadow: 2px 2px #ffffff;
    margin-top: -20px;
}

.buttz {
    flex-direction: row;
    /* height: 100%; */
}

.buut {height: 100%;
    width: 25%;
    margin: 5px;
    margin-top: 15px;
}

.reactve-img {
    z-index: 2;
}

.text {
    z-index: 1;
    padding-left: 10px;
    padding-top:40px;
    padding-bottom:40px;
    background-color: aliceblue;
    border: solid;
    border-color: rgb(126, 178, 223);
    border-width: 1px;   
}

@media (max-width: 600px) {
    .body-container {
        background-image: url("../img/home.jpg");
    }

    .msg1 {
        margin-top: auto;
    }

    .msg1>#part1 {
        font-size: 1.7rem;
        color: rgb(246, 247, 239);
        text-shadow: 2px 2px #000000;
    }

    .msg1>#part2 {
        font-family: 'Bebas Neue', cursive;
        font-size: 1.5rem;
        color: rgb(246, 250, 11);
        text-shadow: 2px 2px #000000;
        margin-left: 0px;
        margin-top: 0px;
    }

    .buttz {
        flex-direction: column;
        height: auto;
    }

    .buut {
        width: 100%;
    }
    .sponsor {
        margin-bottom:20px;
    }
}



